 * {
     font-family: "Plus Jakarta Sans", sans-serif;
 }

 body {
     min-height: 100vh;
     background-image: linear-gradient(#ffffff, #ebdcff);
 }

 #banner {
     margin: 100px auto 120px auto;
     display: flex;
     border-radius: 40px;
     border: 2px solid #872bff10;
     padding: 20px 30px;
     background-image: url(../images/hero-bg.png);
     width: 87.5%;
     justify-content: space-between;
     align-items: center;
     background-color: white;
 }

 .btn {
     background-color: #872bff;
     border: 2px solid #872bff;
     border-radius: 30px;
     margin-right: 10px;
     cursor: pointer;
     color: white;
     padding: 16px 32px;
 }

 .btn-white {

     border-radius: 30px;
     margin-right: 10px;
     border: 2px solid #872bff;
     cursor: pointer;
     color: black;
     padding: 16px 32px;
 }

 .banner-image {
     width: 50%;
 }

 .banner-content {
     width: 50%;
 }

 img {
     width: 100%;
 }

 .banner-content * {
     margin-bottom: 20px;
 }

 .banner-content h1 {
     font-size: 80px;
     font-weight: bold;
 }

 .banner-content h1 span {
     color: #f411cf;
 }

 .banner-content p {
     font-weight: medium;
     font-size: 18px;
     color: #a8a8a8;
 }

 #service {
     text-align: center;
     width: 87.5%;
     margin: 0px auto 120px auto;
     gap: 60px;
 }

 #service h4 {
     color: #f411cf;
     text-transform: uppercase;
     font-size: 24px;
     font-weight: bold;
     letter-spacing: 4px;
     margin-bottom: 14px;
 }

 .service-card h2 {
     font-size: semibold;
     font-size: 28px;
     margin-bottom: 20px;
 }

 #service-card-container {
     display: flex;
     justify-content: space-between;
     gap: 30px;
 }

 .service-card {
     background-color: white;
     border-radius: 30px;
     max-width: 350px;
     text-align: center;
     padding: 100px 60px;
 }

 .service-card img {
     width: 80px;
     margin-bottom: 30px;
 }

 .service-card h2 {
     font-size: 28px;
     font-weight: 20px;
     margin-bottom: 20px;
 }

 .service-card p {
     color: #a8a8a8;
 }

 #spot {
     width: 87.5%;
     margin: 0px auto 120px auto;

 }

 #flag img {
     width: 100px;
 }

 #flag {
     width: 60%;
 }

 #img img {
     width: 100%;
 }

 #spot-hadding {
     text-align: center;
 }

 #spot-hadding h4 {
     color: #f411cf;
     text-transform: uppercase;
     font-size: 24px;
     font-weight: bold;
     letter-spacing: 4px;
     margin-bottom: 14px;
 }

 #spot-hadding h2,
 #service h2 {
     font-size: semibold;
     font-size: 44px;
     margin-bottom: 20px;
 }


 #img-banner {
     display: flex;
     justify-content: space-between;
     gap: 30px;
 }

 #img-banner {
     background-color: white;
     padding: 48px;
     border-radius: 30px;
 }

 #flag h3 {
     color: #3a3a3a;
     font-size: bold;
     font-weight: 32px;
     margin-bottom: 12px;
 }

 #flag p {
     margin-bottom: 32px;
     color: #a8a8a8;
     line-height: 24px;
     font-size: 16px;
 }

 #country-card-container {
     display: flex;
     gap: 30px;
     flex-wrap: wrap;
     justify-content: center;
     margin-bottom: 60px;
 }

 #country-card-container h2 {
     background-color: white;
     padding: 40px;
     border-radius: 30px;
 }

 #country {
     width: 87.5%;
     margin: 0px auto 120px auto;
 }

 #button {
     text-align: center;
 }

 .heading-content {
     text-align: center;
 }

 .heading-content h2 {
     font-weight: bold;
     font-size: 44px;
     margin-bottom: 30px;
 }

 .heading-content h4 {
     color: #f411cf;
     font-weight: bold;
     font-size: 24px;
     letter-spacing: 3px;
     text-transform: uppercase;
     margin-bottom: 20px;
 }


 #others-hadding h4 {
     color: #f411cf;
     text-transform: uppercase;
     font-size: 24px;
     font-weight: bold;
     letter-spacing: 4px;
     margin-bottom: 14px;
 }

 #others-hadding h2 {
     font-size: 44px;
     margin-top: 0px;
     margin-bottom: 0px;
 }

 #others-container {
     text-align: center;
     width: 87.5%;
     margin: 0px auto 120px auto;
 }

 .promt {
     background-color: white;
     padding: 24px;
     border-radius: 20px;
     margin-top: 60px;
 }

 .promt p {
     margin-bottom: 54px;
     font-size: 16px;
     color: #3a3a3a;
 }

 .promt span {
     color: #5d5c5c;
 }

 .promt h4 {
     margin-bottom: 0px;
     font-weight: semibold;
 }

 #star-img {
     display: flex;
     justify-content: space-between;
 }

 #promt-bottom {
     text-align: center;
 }

 #last-container {
     text-align: center;

     background-color: white;
 }


 #box {
     width: 87.5%;
     display: flex;
     justify-content: space-between;
     padding: 20px;
     margin: 0px auto 120px auto;
 }

 #box p {
     font-size: 16px;
     color: #3a3a3a;
 }

 #last-img {

     border-radius: 20px;
     gap: 30px;
     display: flex;
     padding: 10px;
     cursor: pointer;
 }


 .color {
     background-color: #872bff;
     border-radius: 18px;
     width: 30px;
 }

 /* lsptop */
 @media screen and (max-width:1200px) {
     .service-card {
         padding: 50px 10px;
     }

     #img img {
         height: 100%;
         object-fit: cover;
         border-radius: 30px;
     }

     .heading-content h2 {
         font-size: 28px;
     }

     #spot-hadding h2 {
         font-size: 24px;
     }

     #others-hadding h2 {
         font-size: 24px;
     }
 }

 /* tablet */
 @media screen and (max-width:1024px) {
     .banner-content h1 {
         font-size: 50px;
     }

     .banner-image {
         width: 100%;
     }

     #banner {
         flex-direction: column-reverse;
     }

     .banner-content {
         width: 100%;
     }

     #service-card-container {
         flex-direction: column;
     }

     .service-card {
         max-width: 100%;
     }

     #img-banner {
         flex-direction: column;
     }

     #flag p {
         max-width: 100%;
     }

     #service h2 {
         font-size: 24px;
     }

     #banner {
         flex-direction: column-reverse;
         text-align: center;
     }



 }

 /* mobail */
 @media screen and (max-width:640px) {
     #banner {
         flex-direction: column-reverse;
         text-align: center;
     }

     .banner-image {
         width: 100%;
     }

     .banner-content h1 {
         font-size: 25px;

     }

     .banner-content {
         width: 100%;
     }

     #country-card-container {
         text-align: center;
         flex-direction: column;
         width: 100%;
     }

     .btn {
         padding: 10px 25px;
     }

     .btn-white {
         padding: 10px 25px;

     }

     #star-img h4,
     span {
         font-size: 10px;
     }

     #last-hadding p {
         font-size: 10px;
     }

     #last-img {
         width: 100%;
     }

 }