body {
    min-height: 100vh;
    background-image: linear-gradient(#ffffff, #ebdcff);
}

* {
    font-family: "Plus Jakarta Sans", sans-serif;
}

#baner {
    margin: 100px auto 120px auto;
    display: flex;
    justify-content: space-between;
    width: 87.5%;
    background-image: url(../images/hero-bg.png);
    border-radius: 40px;
    border: solid #ebdcff;
    align-items: center;
    padding: 20px 30px;
}

#baner-img {
    width: 50%;
}

#baner-hading {
    width: 50%;
}

#baner-hading h1 {
    font-size: 80px;
    margin-bottom: 36px;
}

#baner-hading span {
    color: #F411CF;
}

#baner-hading p {
    color: #A8A8A8;
    margin-bottom: 36px;
    letter-spacing: 1px;
}

.btn {
    padding: 16px 32px;
    border-radius: 30px;
    background-color: #872BFF;
    color: white;
    border: 0px;
    cursor: pointer;
}

.btn-white {
    padding: 16px 32px;
    border-radius: 30px;
    color: black;
    border: 1px solid #872BFF;
    cursor: pointer;
    margin-left: 10px;
}

img {
    width: 100%;
}

#service {
    width: 87.5%;
    margin: 0px auto 120px auto;
}

#service-hading h4 {
    color: #F411CF;
    letter-spacing: 4px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

#service-hading h2 {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 60px;
}

#card-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
}

.card {
    max-width: 300px;
    background-color: white;
    border-radius: 30px;
    padding: 50px;
}

.card img {
    width: 70px;
    margin-bottom: 30px;
}

.card h3 {
    font-size: 24px;
}

.card p {
    color: #A8A8A8;
    font-size: 20px;
}

#chaina-baner {
    width: 87.5%;
    margin: 0px auto 120px auto;
}

#chaina-hading h4 {
    color: #F411CF;
    letter-spacing: 4px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

#chaina-hading h2 {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 60px;
}

#flag-container {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    background-color: white;
    border-radius: 30px;
    gap: 32px;
    align-items: center;
}

#flag-container p {
    color: #232323;
    margin-bottom: 24px;
    margin-top: 0px;
}

#flag-container h3 {
    font-size: 32px;
    margin-bottom: 12px;
    color: #3e3d3d;
}

.flag img {
    margin-bottom: 12px;
    max-width: 20%;
}


#chaina-img {
    width: 50%;
    object-fit: cover;
    border-radius: 24px;
}

.flag {
    width: 50%;
}

#country-benar {
    width: 87.5%;
    margin: 0px auto 120px auto;

}

#coutry-hading h4 {
    color: #F411CF;
    letter-spacing: 4px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

#coutry-hading h2 {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#country-name {
    margin-top: 0px;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

#country-name h2 {
    background-color: white;
    padding: 40px;
    border-radius: 16px;
}

#country-button {
    text-align: center;
    margin-top: 0px;
}

#others-baner {
    width: 87.5%;
    margin: 0px auto 120px auto;
}

#others-hading h4 {
    color: #F411CF;
    letter-spacing: 4px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

#others-hading h2 {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 60px;
}

#first-promt {
    background-color: white;
    padding: 14px 14px;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 50px;
    color: #3e3d3d;
    font-size: 14px;

}

#second-promt {
    background-color: white;
    padding: 14px 14px;
    border-radius: 16px;
    text-align: center;
    color: #3e3d3d;
    font-size: 14px;
}

.promt-botom {
    display: flex;
    justify-content: center;
}

.promt-botom h5 {
    margin-bottom: 0px;
    font-size: 15px;
}

.promt-botom p {
    margin-top: 0px;
    font-size: 12px;
}

.promt-img img {
    opacity: 50%;
    width: 20%;
}

#last-container {
    background-color: white;
    margin: 0px;
}

#last-baner {
    width: 87.5%;
    margin: 0px auto 500px auto;
    display: flex;
    justify-content: space-between;
}

#last-hading {
    color: #3e3d3d;

}

#last-img {
    display: flex;
    gap: 32px;
    cursor: pointer;
}